.modal{
  overflow: hidden;
}
.modal-content p{
  white-space: pre-wrap;
}

.critical{
  background-color: #e53935;
  color: #fff;
}

.critical .modal-header h2{
  color: #fff;
}

.critical .modal-footer{
  background-color: #b71c1c;
}

.critical .modal-footer a{
  color: #fff;
}

.warning{
  background-color: #fdd835;
  color: #000;
}

.warning .modal-header h2{
  color: #000;
}

.warning .modal-header{
  border-bottom: 1px solid #605f5f;;
}

.warning .modal-footer{
  background-color: #f9a825 ;
}

.warning .modal-footer a{
  color: #fff;
}
