<!-- Modal Dialog Structure -->
<div id="dialogo" class="modal" [ngClass]="tipo">
  <div class="modal-header">
    <h2> <i class="fa fa-comment-o" aria-hidden="true"></i> {{ titulo }}</h2>
  </div>
  <div class="modal-content">
    <p>{{ texto }}</p>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-red btn-flat" (click)="close(0)">Cerrar</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="close(1)">{{boton}}</a>
  </div>
</div>
