nav {
  /*background-color: #ef2d4a;*/
}
.nav-search{
  position: absolute;
  top: 1px;
  z-index: 1;
  /*display: none;*/
}
nav .input-field label i{
  color: white;
}

.logo-brand {
  height: 45px;
  margin-top: 10px;
  padding-left: 0.75rem;
}

.icon-nav {
  font-size: 2.1rem;
}


#search::placeholder {
  color: black;
}

#search:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

#search::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}
