<!-- Barra de busqueda -->
<nav class="nav-search" *ngIf="showSearchBar">
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input id="search" type="search" placeholder="Buscar registro" [(ngModel)]="search" [ngModelOptions]="{standalone: true}" (keydown.enter)="onEnterSearch()" autocomplete="off">
        <label class="label-icon" for="search"><i class="fa fa-search material-icons" aria-hidden="true"></i></label>
        <i class="fa fa-times material-icons" aria-hidden="true" (click)="searchNavHanddler()"></i>
      </div>
    </form>
  </div>
</nav>

<!-- Barra general -->
<nav>
  <div class="nav-wrapper" id="headerMain">
    <!-- Logotipo -->
    <a class="brand-logo left"  title="Brand">
      <img src="./assets/img/LogoEmpresa.png" class="responsive-img logo-brand"/>
    </a>
    <!-- Logotipo -->

    <ul id="nav-mobile" class="right">
      <!-- Search -->
      <li title="Buscar" (click)="searchNavHanddler()">
        <a class="icon-nav"><i class="fa fa-search" aria-hidden="true"></i></a>
      </li>
      <!-- Search -->
    </ul>
  </div>
</nav>
