<app-header (onSearch) = "searching($event)"></app-header>
<!-- BREADCRUMB -->
<div class="row" id="infoBar">
    <div class="col s12">
      <div class="alignleft-infoBar">
        <ol class="breadcrumb">
              <li><i aria-hidden="true" class="fa fa-list"></i></li>
              <li>&gt;</li>
              <li>Registros</li>
            </ol>
      </div>

      <div class="aligncenter-infoBar" style="margin-top: 25px;">
        <ng-container *ngIf="arrayPersonas.length > 0">
          <span class="badge-count">{{arrayPersonas.length}}</span> registros
        </ng-container>
        <ng-container *ngIf="arrayPersonas.length == 0">
          <span class="badge-count">0</span> Sin registros
        </ng-container>
      </div>
    </div>
</div>

<!-- MAIN SECCION -->
<div class="panel">
  <ng-container *ngIf="arrayPersonas.length > 0">
    <table class="striped highlight">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Correo</th>
          <th>¿Activo?</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of arrayPersonas | filter: search; let iPos = index">
          <td class="colum-data">
            <p>
              <b> {{ persona.nombre }} </b>
              {{ persona.apellidos }}
            </p>
          </td>
          <td>
            <p>{{persona.correo}}</p>
          </td>
          <td>
            <p *ngIf="persona.active">Si</p>
            <p *ngIf="!persona.active">No</p>
          </td>
          <td>
            <!-- Botón acciones -->
            <td class="colum-btn">
              <a class="waves-effect waves-light btn-circle" title="Editar" (click) = "editRecord(iPos, persona)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
              <a class="waves-effect waves-light btn-circle" title="Eliminar" (click)="askToDeleteRegistry(iPos, persona)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
  </ng-container>

  <ng-container *ngIf="arrayPersonas.length == 0">
    <p>Ups !! Aún no hay registros</p>
  </ng-container>
</div>
<!-- MAIN SECCION -->

<!-- Accion button -->
<div class="fixed-action-btn" title="Agregar">
  <a class="btn-floating btn-large red waves-effect waves-light" (click) = "addRecord()">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </a>
</div>

<!-- Custom components (helpers) -->
<app-dialog [show]="showDialog" [titulo]="titleDialog" [texto] ="txtDialog" [boton]= "'Eliminar'" [tipo] = "'critical'" (evtAccion)="dialogEvt($event)"></app-dialog>
<app-modal [showModal]="showModal" [data]="currentRecord" (onCloseModal)="closeModal()" (onApply)="apply($event)"></app-modal>
