#infoBar{
	margin-bottom:0px;
}

.alignleft-infoBar {
    float: left;
    text-align:left;
    width:20%;
}
.aligncenter-infoBar {
    float: left;
    text-align:center;
    width:80%;
    margin-top: 25px;
}

.colum-data p{
  margin-bottom: 0px;
  margin-top: 0px;
}

.colum-btn a{
  margin-left: 10px;
}
