<!-- Modal Structure -->
<div id="modalRegistros" class="modal modal-fixed-footer" style="height: 100%;">
  <div class="modal-header">
    <h2>
      <i class="fa fa-plus-circle" aria-hidden="true" *ngIf="isCreatingMode" title="Crear"></i>
      <i class="fa fa-pencil-square" aria-hidden="true" *ngIf="!isCreatingMode" title="Editar"></i> Registro
    </h2>
  </div>
  <div class="modal-content modal-with-footer" id="#modalRegistros">
    <div class="row">
      <form class="col s12" #modalForm="ngForm" autocomplete="off">
        <div class="row">
          <div class="col s12">
            <!-- Nombre -->
            <div class="row row-header">
              <div class="input-field col s12">
                <input id="nombrePersona" type="text" maxlength="80" name="nombre" [(ngModel)]="oPersona.nombre" #nombre="ngModel" required>
                <label for="nombrePersona" [ngClass]="{active : !isCreatingMode}" class="requied-field" title="Campo obligatorio">Nombre</label>
                <app-field-error [show]="nombre.invalid && (nombre.dirty || nombre.touched)" [validatorError]="nombre.errors"></app-field-error>
              </div>
            </div>
            <!-- Nombre -->

            <!-- Apellidos -->
            <div class="row row-header">
              <div class="input-field col s12">
                <input id="apellidos" type="text" maxlength="100" name="apellidos" [(ngModel)]="oPersona.apellidos" #apellidos="ngModel" required>
                <label for="apellidos" [ngClass]="{active : !isCreatingMode}" class="requied-field" title="Campo obligatorio">Apellidos</label>
                <app-field-error [show]="apellidos.invalid && (apellidos.dirty || apellidos.touched)" [validatorError]="apellidos.errors"></app-field-error>
              </div>
            </div>
            <!-- Apellidos -->
            <hr>
            <!-- Correo -->
            <div class="row row-header">
              <div class="input-field col s12">
                <input id="correo" type="email" maxlength="140" name="correo" [(ngModel)]="oPersona.correo" #correo="ngModel" required email>
                <label for="correo" [ngClass]="{active : !isCreatingMode}" class="requied-field" title="Campo obligatorio">Email</label>
                <app-field-error [show]="correo.invalid && (correo.dirty || correo.touched)" [validatorError]="correo.errors"></app-field-error>
              </div>
            </div>
            <!-- Correo -->
            <hr>
            <!-- Password -->
            <div class="row row-header">
              <div class="col s12">
                <div class="row row-header" id="parent_password">
                  <div class="input-field col s12">
                    <input id="password" type="password" name="password" maxlength="16" [(ngModel)]="oPersona.password" #password="ngModel" (change)="confirmPassword=''" required minlength="6" (change)="confirmPassword=''">
                    <label for="password" [ngClass]="{active : !isCreatingMode}" class="requied-field" title="Campo obligatorio">Contraseña</label>
                    <app-field-error [show]="password.invalid && (password.dirty || password.touched)" [validatorError]="password.errors"></app-field-error>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-header">
              <div class="col s12">
                <div class="row row-header">
                  <div class="input-field col s12">
                    <input id="password_confirm" type="password" name="password_confirm" [(ngModel)]="confirmPassword" #password_confirm="ngModel" appForbiddenName="(^|\s){{ oPersona.password }}(\s|$)" required>
                    <label for="password_confirm" [ngClass]="{active : !isCreatingMode}" class="requied-field" title="Campo obligatorio">Confirmar contraseña</label>
                    <app-field-error [show]="password_confirm.invalid && oPersona.password && (password.dirty || password.touched)" [validatorError]="password_confirm.errors" [errorMsgCustom]="'Las contraseñas no coinciden'"></app-field-error>
                  </div>
                </div>
              </div>
            </div>
            <!-- Password -->
            <hr *ngIf="!isCreatingMode">
            <!--STATUS -->
            <div class="row right-align" *ngIf="!isCreatingMode">
              <div class="col s12">
                <label>
                  <input type="checkbox" class="filled-in" id="chkRecordActive" [(ngModel)]="oPersona.active" [ngModelOptions]="{standalone: true}" />
                  <span>Activo</span>
                </label>
              </div>
            </div>
            <!-- STATUS -->
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action waves-effect waves-red btn-flat" (click)="closeModal()">Cerrar</a>
    <button class="modal-action waves-effect waves-green btn-flat" (click)="apply()" [disabled]="modalForm.invalid">Aplicar</button>
  </div>
</div>
