/* You can add global styles to this file, and also import other style files */
html,body {
	height: 100%;
	width: 100%;
	position: absolute;
}

body{
	background-color: #EEEEEE;
}

/*
	START - SCROLLBAR
*/

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*
  END - SCROLLBAR
*/


/*
	HELPERS AND GENERAL STYLES
*/
hr{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}

label.requied-field::before{
	content : "*";
	color : #ef2d4a;
	font-weight: bold;
	margin-right: 2px;
}


/*
	Modals
*/
.modal{
	overflow-y: hidden;
}

.modal-header{
	padding: 20px;
  position: relative;
  border-bottom: 1px solid rgba(204, 204, 204, 0.35);
}

.modal-header h2{
	margin: 0;
	font-size: 18px;
	font-weight: normal;
	color: #111;
}

.modal-header h2 small{
	display: block;
  font-size: 12px;
  margin-top: 5px;
  color: #999;
  line-height: 15px;
}

.modal-with-footer{
	margin-bottom: 56px !important;
}

.modal-footer{
	z-index: 1;
}

/*
	breadcrumb
*/

.breadcrumb{
	padding-left: 0px;
}
.breadcrumb > .active{
	color: #777;
}
.breadcrumb li{
	display: inline-block;
	color: #444;
	font-size: 0.8em;
	margin-right: 0.3em;
}

.breadcrumb li a{
	text-decoration: none;
}

.breadcrumb i{
  position: relative;
  top: 4px;
}


span.badge-count{
	display: inline-block;
	color: #fff;
	background-color : #ee6e73;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0 12px;
	border-radius: 12px;
}

/*
	Panel
*/
.panel{
	background: #fff;
	min-height: 50px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	position: relative;
	margin-bottom: 20px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;

	overflow-y: auto;
	height: calc(100% - 190px);
	margin: 0.75rem;
	padding: 0.75rem;
}

/*
	Buttons
*/
.btn-circle{
	width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #ddd;
  text-align: center;
  border-radius: 50%;
	color: #000;
}

.btn-circle:hover{
  background-color: #ef2d4a;
	color: #fff;
}
